body {
  color: black;
  display: grid;
  margin: 0;
  text-align: center;
  font-family: "Futura", sans-serif;

}

p {
  padding: 0px;
  line-height: 40px;
}

h1, h2 {
  padding: 0;
  margin: 0;
}
.header {
  background-color: #db6400;
  padding-top: 25px;
  padding-bottom: 0px;
}

.middle {
  background-color: #5eaaa8;
  padding-top: 25px;
  padding-bottom: 0px;
}

.bottom {
  background-color: #a3d2ca;
  padding-top: 25px;
  padding-bottom: 0px;
}
