body {
  color: black;
  background-color: white;

  text-align: center;
  font-family: "Verdana", sans-serif;

}


div {
  text-align: center;
}

ul, li{
  padding: 0;
  list-style-type: none;
}

h1, h2 {
  color: black;
  transition: color .25s;
}

h1:hover, h2:hover {
  color: red;
}

a {
  color: black;
  transition: color .25s;
}

a:hover {
  color: red;
  text-decoration: none;
}

p {
  line-height: 50px;
}

/* NAVBAR */

.nav.navbar-nav li a, .navbar-brand {
  color: black;
  padding-top: 50px;
}

.nav.navbar-nav li a:hover, .navbar-brand:hover {
  transition: .5s;
  color: red;
  text-decoration: none;
}

.navbar-nav > li {
  padding-left: 5px;
  padding-right: 5px;
}

#aboutme {

}

#techstack {

}

#resume {

}

#contactme {

}

.header {

}

.middle {

}

.bottom {

}

.Gianni {
  padding: 100px 25px 50px;
}

.html, .css, .js, .java, .resume {
  width: 80px;
  height: 80px;
  padding: 10px;
  transform-origin: 0 0;
  transition: transform .25s, visibility .25s ease-in;
}

.linkedin, .twitter, .github, .email {
  width: 80px;
  height: 80px;
  padding: 10px;
  transform-origin: 0 0;
  transition: transform .25s, visibility .25s ease-in;
}

.zoompic:hover {
  filter: grayscale(0);
  transform: scale(1.2);
}
